<!DOCTYPE html> 
    <head>
        <title>Todo List</title>
    </head>
    <body>
        <div class="todo-wrapper">
            <form id="todo-form" type="POST" action="/addTodo">
                <input type="text" placeholder="Add New Todo" id="new-todo">
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
